@font-face {
  font-family: 'Muli';
  src: url('fonts/Muli/Muli-Regular.ttf');
}
@font-face {
  font-family: 'Muli';
  src: url('fonts/Muli/Muli-Black.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Muli';
  src: url('fonts/Muli/Muli-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'Muli';
  src: url('fonts/Muli/Muli-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Muli';
  src: url('fonts/Muli/Muli-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Muli';
  src: url('fonts/Muli/Muli-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Muli';
  src: url('fonts/Muli/Muli-Light.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Muli';
  src: url('fonts/Muli/Muli-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: 'Muli';
  src: url('fonts/Muli/Muli-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Muli';
  src: url('fonts/Muli/Muli-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Muli';
  src: url('fonts/Muli/Muli-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Muli';
  src: url('fonts/Muli/Muli-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Muli';
  src: url('fonts/Muli/Muli-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Muli';
  src: url('fonts/Muli/Muli-LightItalic.ttf');
  font-weight: 400;
  font-style: italic;
}
